*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.container
{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
.form-heading
{
    padding: 30px;
    margin: 10px;
    /* border: 1px solid black; */
    background-color: yellowgreen;
    min-height: 100px;
}
table,tr,td{
     /* border: 1px solid black; */
     min-height: 100px;
}
table
{
    border:1px solid lightgrey;
}

table,tr,td{
   border-collapse: collapse;
}
tr,td
{
    height: 20px;
    padding: 10px;
    margin: 10px;
}
table{
    width: 98%;
    margin: auto;
    padding: 30px;
    margin: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"]
{
    width: 80%;
    padding: 10px;
}
.name1
{
   margin: 10px; 
}
textarea
{
    width: 90%;
    padding: 10px;
}

.submit
{
    
    margin: 10px;
    padding: 10px;
    color: white;
    width: 100px;
    border-radius:5px;
    background-color:green;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.center-submit
{
    text-align: center;
}
